<form method="POST" action="/new">
  <div>
    <label for="">Author</label>
    <input type="text" name="messageAuthor" required>
  </div>
  <div>
    <label for="">Message</label>
    <input type="text" name="messageText" required>
  </div>
  <button>Submit</button>
</form>
